@{
    ViewBag.Title = "About";
}

<div class="container">

    <div class="jumbotron">
        <h2>@ViewBag.Title.</h2>
        <br />
        <h2>Trabalho Prático de Programação Web 2018/2019</h2>
        <br />
        <p>
            Implementação de um sistema Web para gestão de resíduos que fornece um conjunto de serviços de recolha de materiais recicláveis do tipo papel/cartão, vidro/louça, óleos alimentares, pilhas, lâmpadas, material elétrico e eletrónico, pequenos objetos de metal, objetos em plástico e a recolha de materiais poluentes do género combustíveis pesados, pneus, baterias, tintas, solventes, óleos pesados, pesticidas e outros... Para estes últimos tipos de resíduos pretende-se criar um serviço de recolha direta, tendo em consideração que a recolha de determinados materiais recicláveis é uma tarefa difícil e perigosa, que exige a existência, ou a disponibilidade, de meios adequados ao transporte.
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="https://github.com/nunorfidalgo/TPWEB-Residual" role="button">GitHub &raquo;</a>
        </p>
    </div>

</div>