@{
    ViewBag.Title = "Contact";
}

<div class="container">

    <div class="jumbotron">
        <h2>@ViewBag.Title.</h2>
        <br />
        <p>
            <address>
                <strong>Nuno Fidalgo:</strong> [21140369] <a href="mailto:a21140369@isec.pt">a21140369@isec.pt</a><br />
                <br />
                <strong>Nuno Sousa:</strong> [21260812] <a href="mailto:a21260812@isec.pt"> a21260812@isec.pt</a>
            </address>
        </p>

    </div>

</div>

